.defaultValueNumberInput {
	display: flex;
	align-items: center;
}
.defaultValueNumberInputLabel {
	flex-grow: 0;
	margin-right: var(--mantine-spacing-xs);
}
.rangeSlider {
	flex-grow: 1;
}
.numberInput {
	width: 5rem;
}
.selectValue {
	flex-grow: 1;
}
.tagInputValues {
	flex: 1 1 60%;
}
.checkboxDefaultValue {
	position: relative;
	top: -11px;
}
