:root {
  --transition-properties: 250ms ease;
}
.category {
	margin: 4px;
	transition: border-color var(--transition-properties), border-style var(--transition-properties) color var(--transition-properties),background-color var(--transition-properties);
}
.tree {
	margin: 1rem;
}


:global(.dragged-over) * {
  pointer-events: none;
}
:global(.dragged-over){
	border-color: var(--mantine-primary-color-filled-hover);
	color: 	var(--mantine-primary-color-filled-hover);
	background-color: var(--mantine-primary-color-light-hover);
	border-style: solid;
}

.hidden {
	visibility: hidden;
}
.firstRow {
	display: flex; 
	align-items:flex-start;
	gap: 5px;
	padding: 4px;
}
.newCategoryInput{
	flex-grow: 1;
	height: 64px;
}

.categoryLabel {
	flex-grow: 1;
}
.rootCategoryDrop{
	border-color: var(--mantine-primary-color-filled);
	color: 	var(--mantine-primary-color-filled);
	background-color: var(--mantine-primary-color-light);
	border-style: dashed;
	transition: border-color var(--transition-properties), color var(--transition-properties),background-color var(--transition-properties);
	height: 64px;
	align-items: center;
	padding-left: 12px;
}
.rootCategoryDrop:global(.dragged-over){
	border-color: var(--mantine-primary-color-filled-hover);
	border-style: solid;
	color: 	var(--mantine-primary-color-filled-hover);
	background-color: var(--mantine-primary-color-light-hover);
}
