.categoryHeader{
	display: flex;
	align-items: center;
	justify-content: space-between;

	height: 50px;
}

.ComboboxDropdown{
	box-shadow: var(--mantine-shadow-xl);
}

.categoryTd{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.productButton{
	width: 100%;
}
