.bigButton {
	background-color: var(--mantine-primary-color-light); 
	transition: background-color 300ms ease;
}

.bigButton:hover {
	background-color: var(--mantine-primary-color-light-hover);
}

.cardContent {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
