.deleteButtonContent{
	display: flex;
	justify-content: center;
	align-items: center;
}
.deleteButton{
	width: 34px;
	transition: width 200ms ease;
}
.deleteButtonGrow {
	width: 160px;
}
.deleteButtonBadge {
	padding-left: 2px;
	padding-right:2px;
}
.deleteButtonSection{
	margin-inline-end: 0;
	margin-inline-start: 0;
}

.deleteButtonIcon:hover{
	background-color: transparent;
}
